# ======================
# APP
# ======================
APP_PORT=3000

# ======================
# AUTH
# ======================
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# ======================
# DATABASE
# ======================
DATABASE_URL=mysql://root:4377@mariadb:3306/pic_gwenza

# ======================
# S3 (MinIO)
# ======================
S3_URL=http://minio:9000
S3_KEY=minioadmin
S3_SECRET=minioadmin123
S3_BUCKET=pic-gwenza

# ======================
# RABBITMQ CORE
# ======================
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=gwenzax.order
RABBITMQ_EXCHANGE_TYPE=topic

# ======================
# QUEUES
# ======================
UPLOAD_ORDER_QUEUE=upload.order.queue
PROCESS_ORDER_QUEUE=process.order.queue
UPLOAD_CANCEL_QUEUE=upload.cancel.queue
PROCESS_CANCEL_QUEUE=process.cancel.queue

# ======================
# ROUTING KEYS (EVENTS)
# ======================
UPLOAD_ORDER_CREATED=upload.order.created
UPLOAD_ORDER_CANCELLED=upload.order.cancelled
PROCESS_ORDER_REQUESTED=order.process.requested
PROCESS_ORDER_CANCELLED=order.process.cancelled

# ======================
# DLQ
# ======================
DLQ_SUFFIX=.dlq

# ======================
# OPENROUTER AI
# ======================
OPENROUTER_API_KEY=