# ======================
# APP
# ======================
APP_PORT=3000

# ======================
# AUTH
# ======================
ACCESS_TOKEN_SECRET=rahasiakitaberdua
REFRESH_TOKEN_SECRET=rahasiakitabersama

# ======================
# DATABASE
# ======================
DATABASE_URL=mysql://root:4377@mariadb:3306/pic_gwenza

# ======================
# S3 (MinIO)
# ======================
S3_URL=http://minio:9000
S3_KEY=minioadmin
S3_SECRET=minioadmin123
S3_BUCKET=pic-gwenza

# ======================
# RABBITMQ
# ======================
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=order.event
RABBITMQ_EXCHANGE_TYPE=topic

# Routing Keys
UPLOAD_ORDER_CREATED=upload.order.created
UPLOAD_CANCEL_CREATED=upload.cancel.created
UPLOAD_FAILED_CREATED=upload.failed.created
PROCESS_ORDER_REQUESTED=order.process.requested
PROCESS_CANCEL_REQUESTED=order.cancel.requested
PROCESS_FAILED_REQUESTED=order.failed.requested

# Queues
UPLOAD_ORDER_QUEUE=upload.order.queue
UPLOAD_CANCEL_QUEUE=upload.cancel.queue
UPLOAD_FAILED_QUEUE=upload.failed.queue
PROCESS_ORDER_QUEUE=process.order.queue
PROCESS_CANCEL_QUEUE=process.cancel.queue
PROCESS_FAILED_QUEUE=process.failed.queue

# ======================
# OPENROUTER AI
# ======================
OPENROUTER_API_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=rahasia
OPENROUTER_MODEL_NAME=model-kamu